bin/
obj/
.vs/
*.user
*.suo
.vscode/
packages/
publish/
node_modules/
*.zip
*.7z
*.rar
.DS_Store
Thumbs.db
*.log
secrets.json
appsettings.*.json
!appsettings.Development.json
*.pfx
*.p12
TestResults/
.idea/

